@import "../../variables";
@import "../../mixins";

.dashboard-card {
  h1 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.3rem;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  h3 {
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;
    letter-spacing: 0.4px;
  }

  .values-container {
    text-align: left;
  }

  .card-top-content {
    padding: 0px 5px;
  }

  .h1-xl {
    font-size: 25px;
    font-weight: 700;
  }
  
  .parachain-content-container {
    height: 250px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .parachain-button-container {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }

  button.temp-dashboard-button {
    background-color: white;
    border-radius: 8px;
    width: 130px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-assets-container {
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    text-decoration: none;
  }

  .card-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .status-circle {
    background: none;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.chart-container {
  position: relative;
  margin-top: 10px;
}

@media only screen and (min-width: $desktop-size) {
  .dashboard-card {
    h1 {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 10px;
        letter-spacing: 0.6px;
    }
    .parachain-content-container {
        width: 70%;
        padding-left: 30px;
    }
    
    button.temp-dashboard-button {
      width: 160px;
      padding: 12px 12px;
    }
  }
  
  .chart-container {
    margin-top: 20px;
    height: 200px;
  }

  .parachain-content-container {
    width: 70%;
    padding-left: 30px;
  }

  button.temp-dashboard-button {
    width: 160px;
    padding: 12px 12px;
  }

  .latest-block-text {
    font-size: 12px;
    font-weight: 700;
  }
}
