footer {
  padding: 50px;
  background-color: #eee;
  display: flex;
  text-align: center;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-title {
  font-family: airbnb-cereal-bold;
  font-size: 16px;
  padding-bottom: 5px;
  text-align: left;
}

.footer-items-container {
  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: left;
    font-size: 16px;
    padding: 5px 0px;
  }
}
