@import "../../variables";
@import "../../mixins";

.staked-relayer-page {
    display: flex;
    justify-content: center;

    .staked-container {
        max-width: calc(100vw - 30px);
        width: 70%;
        padding: 0px 15px;
    }

    .staked-button {
        margin-top: 20px;
    }

    .header {
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .report-button-wrapper {
        padding-top: 2rem;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .oracle-space {
        margin-bottom: 80px;
    }

    .de-note {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    @include mobile-range {
        .de-note {
            margin-bottom: 100px;
        }
        .oracle-space {
            margin-bottom: 150px;
        }
    }

    @include tablet-range {
        .de-note {
            margin-bottom: 100px;
        }
        .oracle-space {
            margin-bottom: 150px;
        }
    }
}

.vote-label {
    font-weight: 600;
}
